{% extends 'base.html'%}
{% block Planner %}
Column
{% endblock %}


{% block Boards %}
<a class="btn btn-success" href="{%  url 'get_column' %}">Get Column</a>
    <!--очень важно смотреть на "/" так как это ссылка со с другого html то в начеле
    ставим тем самым обрубаем все что было до и в конце не ставим "/"-->
<a class="btn btn-success" href="{% url 'create_column' %}">Create Column</a>
<a class="btn btn-success" href="/api/v1/columns/boards/">Get all conlumn in board</a> указать id
<a class="btn btn-success" href="/api/v1/columns/retrieve_update_delete/">Retrieve Update Delete Column</a> указать id
{% endblock %}
