{% extends 'base.html'%}
{% block Planner %}
Executor
{% endblock %}


{% block Boards %}
<a class="btn btn-success" href="{%  url 'get_executors' %}">Get Executor</a>
    <!--очень важно смотреть на "/" так как это ссылка со с другого html то в начеле
    ставим тем самым обрубаем все что было до и в конце не ставим "/"-->
<a class="btn btn-success" href="{% url 'get_executors' %}">Create Executor</a>
<a class="btn btn-success" href="/api/v1/users/retrieve_update_delete/">Retrieve Update Delete Executor</a> указать id
{% endblock %}
